/* Footer */
.copyright-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

.social-link,
.social-link > svg path {
  transition: 0.4s ease;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
}

.social-link:last-of-type {
  margin-right: 0;
}

.social-link:hover > svg path {
  fill: var(--pure-white);
}

.social-link:first-of-type:hover {
  background: #3b5998;
}

.social-link:nth-of-type(2):hover {
  background: linear-gradient(
    315deg,
    #fbe18a 0.96%,
    #fcbb45 21.96%,
    #f75274 38.96%,
    #d53692 52.96%,
    #8f39ce 74.96%,
    #5b4fe9 100.96%
  );
}

.social-link:nth-of-type(3):hover {
  background: #0e76a8;
}

.social-link:last-of-type:hover {
  background: #ea4c89;
}

.social-link > svg path {
  fill: var(--black);
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .footer {
    margin-top: 12em;
    padding: 2em 6em;
  }

  .footer-brand {
    width: 3.2em;
    height: 3.2em;
    margin-right: 1em;
  }

  .copyright-text {
    font-size: 1.2em;
  }

  .social-link {
    width: 3.2em;
    height: 3.2em;
    margin-right: 1em;
  }

  .social-link > svg {
    width: 1.5em;
    height: 1.5em;
  }

  /* Below 1440px */
  @media only screen and (width <= 1440px) {
    .footer {
      padding: 2em 3.75em;
    }

    .footer-brand {
      width: 3em;
      height: 3em;
    }

    .copyright-text {
      font-size: 1.125em;
    }

    .social-link {
      width: 2.875em;
      height: 2.875em;
    }

    .social-link > svg {
      width: 1.3em;
      height: 1.3em;
    }
  }
}
