/* Welcome */
.welcome-title,
.welcome-text {
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.message {
  overflow: hidden;
  text-wrap: nowrap;
  width: 100%;
  transition: width 0.8s ease;
}

.message > span {
  transition: 0.4s linear;
}

.message > span {
  opacity: 1;
}

.welcome-text {
  text-align: end;
}

.shrink-text {
  width: 1.6em;
}

.shrink-text > span {
  opacity: 0;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .welcome {
    padding: 10em 6em 0 6em;
    margin-bottom: 2em;
  }

  .welcome-title-container {
    margin-bottom: 5em;
  }

  .welcome-title {
    font-size: 6em;
    width: 52rem;
  }

  .message {
    padding: 1rem 3rem;
    margin: 1rem 0;
    font-size: 1em;
  }

  .welcome-text {
    width: 27em;
    font-size: 1.5em;
  }

  /* Below 1440px */
  @media only screen and (width <= 1440px) {
    .welcome {
      padding: 10em 3.75em 0 3.75em;
    }

    .welcome-title {
      font-size: 4.8em;
      width: 40rem;
    }

    .message {
      padding: 0.875rem 2.2rem;
      font-size: 0.97em;
    }

    .welcome-text {
      font-size: 1.25em;
    }
  }
}
