/* Parallax */
.parallax-images-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: var(--black);
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .parallax {
    margin-bottom: 12em;
    padding: 0 6em;
  }

  .parallax-images-container {
    height: 75em;
  }

  .parallax-image {
    width: 50em;
    height: 35em;
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }

  .parallax-column-container .parallax-image {
    margin-bottom: 2em;
  }

  .parallax-column-container > .parallax-column {
    margin-right: 2em;
  }

  .parallax-column-container > .parallax-column > .parallax-image:last-of-type {
    margin-bottom: 0;
  }

  .parallax-column-container > .parallax-column:last-of-type {
    margin-right: 0;
  }

  /* Below 1440px */
  @media only screen and (width <= 1440px) {
    .parallax {
      padding: 0 3.75em;
    }

    .parallax-images-container {
      height: 50em;
    }

    .parallax-image {
      width: 36.9em;
      height: 26.2em;
    }

    .parallax-column-container .parallax-image {
      margin-bottom: 1.75em;
    }

    .parallax-column-container > .parallax-column {
      margin-right: 1.75em;
    }
  }
}
