@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Colors */
  --blue: #47b5ff;
  --light-blue: #84ceff;
  --black: #141414;
  --white: #f6f6f6;
  --pure-white: #ffff;
  --gray: #4f4f4f;
  --lighter-gray: #6d6d6d;
  --light-gray: #b0b0b0;
  /* Fonts */
  --poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--poppins) !important;
}

/* Button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2em;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

.button-gray {
  background-color: var(--lighter-gray);
}

.button-blue {
  background-color: var(--blue);
}
