@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Colors */
  --blue: #47b5ff;
  --light-blue: #84ceff;
  --black: #141414;
  --white: #f6f6f6;
  --pure-white: #ffff;
  --gray: #4f4f4f;
  --lighter-gray: #6d6d6d;
  --light-gray: #b0b0b0;
  /* Fonts */
  --poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--poppins) !important;
}
